In [1]:
pip install kafka-python

Collecting kafka-pythonNote: you may need to restart the kernel to use updated packages.

  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2

In [2]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
import json
from json import dumps

In [3]:
producer = KafkaProducer(bootstrap_servers=['54.208.21.125:9092'],
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [4]:
producer.send('demo_topic',value={'hello':'suhas'})

In [5]:
df=pd.read_csv('indexProcessed.csv')

In [6]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [9]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume,CloseUSD
count,104224.000000,104224.000000,104224.000000,104224.000000,104224.000000,1.042240e+05,104224.000000
mean,8015.353334,8063.324234,7962.581120,8014.366642,8014.161269,1.347646e+09,3046.729177
std,9140.563404,9196.575802,9082.767802,9140.609758,9140.720456,4.427662e+09,3747.865623
min,54.869999,54.869999,54.869999,54.869999,54.869999,0.000000e+00,10.204900
25%,2046.887756,2057.213990,2037.185943,2047.506470,2047.358490,0.000000e+00,320.460898
50%,5772.140137,5812.764892,5725.199951,5773.710205,5773.710205,9.529000e+05,1371.598486
75%,10487.377445,10552.179690,10416.092287,10488.622560,10488.622560,2.064676e+08,4383.045241
max,68775.062500,69403.750000,68516.992190,68775.062500,68775.062500,9.440374e+10,18934.376173

In [10]:
df.count

<bound method DataFrame.count of           Index        Date          Open          High           Low  \
0           HSI  1986-12-31   2568.300049   2568.300049   2568.300049
1           HSI  1987-01-02   2540.100098   2540.100098   2540.100098
2           HSI  1987-01-05   2552.399902   2552.399902   2552.399902
3           HSI  1987-01-06   2583.899902   2583.899902   2583.899902
4           HSI  1987-01-07   2607.100098   2607.100098   2607.100098
...         ...         ...           ...           ...           ...
104219  J203.JO  2021-05-25  66054.921880  66812.453130  66022.976560
104220  J203.JO  2021-05-26  66076.679690  66446.367190  66030.351560
104221  J203.JO  2021-05-27  66108.226560  66940.250000  66102.546880
104222  J203.JO  2021-05-28  66940.250000  67726.562500  66794.609380
104223  J203.JO  2021-05-31  67554.859380  68140.851560  67554.859380

               Close     Adj Close  Volume     CloseUSD
0        2568.300049   2568.300049     0.0   333.879006
1        2540.100098   2540.100098     0.0   330.213013
2        2552.399902   2552.399902     0.0   331.811987
3        2583.899902   2583.899902     0.0   335.906987
4        2607.100098   2607.100098     0.0   338.923013
...              ...           ...     ...          ...
104219  66076.679690  66076.679690     0.0  4625.367578
104220  66108.226560  66108.226560     0.0  4627.575859
104221  66940.250000  66940.250000     0.0  4685.817500
104222  67554.859380  67554.859380     0.0  4728.840157
104223  67964.039060  67964.039060     0.0  4757.482734

[104224 rows x 9 columns]>

In [11]:
while True:
    stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_topic', value=stock)
    sleep(1)

KeyboardInterrupt:

In [12]:
producer.flush()